<h1>Orders</h1>
<p><%= link_to 'Click Here', root_path %> to create a random order.</p>
<table class="orders">
	<colgroup>
		<col span="1" style="width: 20%;">
		<col span="1" style="width: 20%;">
		<col span="1" style="width: 20%;">
		<col span="1" style="width: 40%;">
	</colgroup>
  <thead>
    <th>Order ID</th>
    <th>Total</th>
    <th>Fulfilment Progress</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr class="order" data-order-id="<%= order.id %>" data-fulfiled="<%= order.fulfiled %>">
        <td class="order__id"><%= order.id %></td>
        <td class="order__total"><%= number_to_currency order.products.map(&:price).reduce(:+) %></td>
        <% unless order.fulfiled %>
          <td class="order__fulfilment-progress"><progress data-order-id="<%= order.id %>" max></progress></td>
          <td class="order__status--unfulfiled">Awaiting Updates</td>
        <% else %>
          <td class="order__fulfilment-progress">Complete</td>
          <td class="order__status--fulfiled">Fulfilled</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
